<head>
    <script src="/js/admin-products.js" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/main-css.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4917086014.js" crossorigin="anonymous"></script>
    <title>Administração</title>
</head>

<ul class="pagination">
    <% if (currentPage> 1) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>">Anterior</a></li>
        <% } else { %>
            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
            <% } %>

                <% for(let i=1; i <=totalPages; i++) { %>
                    <% if (i===currentPage) { %>
                        <li class="page-item active"><span class="page-link">
                                <%= i %>
                            </span></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="?page=<%= i %>">
                                    <%= i %>
                                </a></li>
                            <% } %>
                                <% } %>

                                    <% if (currentPage < totalPages) { %>
                                        <li class="page-item"><a class="page-link"
                                                href="?page=<%= currentPage + 1 %>">Próxima</a></li>
                                        <% } else { %>
                                            <li class="page-item disabled"><span class="page-link">Próxima</span></li>
                                            <% } %>
</ul>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>