<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Style principal -->
    <link rel="stylesheet" href="/css/carrinho.css">
    <!-- Style header -->
    <link rel="stylesheet" href="/css/header.css">
    <!--  Ícone -->
    <link rel="shortcut-icon" href="/img/Design sem nome.png" type="image/x-icon">
    <!--  Link BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--Link swiperjs-->
    <link rel="stylesheet" href="/css/swiper-bundle.css" type="text/css">
    <!--Link footer-->
    <link rel="stylesheet" href="/css/footer.css">

    <title>Arome</title>
</head>

  <body>
    <%- include("partials/header.ejs") %>

  <main>
    <h1>Meu Carrinho</h1>
    <% if (carrinho.length == 0){ %>
      <div>Seu Carrinho Está Vazio</div>
    <%} else {%>
      <table id="cart-table">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Subtotal</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody id="cart-body">
          <% for (let item of carrinho){ %>

            <tr>
            <td><%= item.name %></td>
            <td>R$ <%= item.price %></td>
            <td>
              <%= item.qtd %>
              <form method="post" action="/carrinho/incrementar">
                <input type="hidden" value="<%= item.id %>" name="idItem">
                <button type="submit">+</button>
              </form>
              <%= item.qtd %>
              <form method="post" action="/carrinho/incrementar">
                <input type="hidden" value="<%= item.id %>" name="idItem">
                <button type="submit">-</button>
              </form>
            </td>
            <td>R$ <%= item.subtotal %></td>
            <td>
              <form method="post">
                <input type="hidden" name="idProduto" value="<%= item.id %>">
                <button>Remover</button>
              </form>
            </td>
          </tr>

          <%}%> 
        </tbody>
      </table>
      <form method="post" action="/checkout">
        <button class="btn-comprar">Finalizar Compra</button>
      </form>
    <%}%>
  </main>

  <%- include("partials/footer.ejs") %>
</body>

</html>

