<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Ícone -->
    <link rel="shortcut-icon" href="/img/Design sem nome.png" type="image/x-icon">
    <!--  Link BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--Link swiperjs-->
    <link rel="stylesheet" href="/css/swiper-bundle.css" type="text/css">
 

    <title>Arome</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <main>
            <!-- HERO -->
            <section class="hero container">
                <div class="hero__content swiper" id="hero">
                    <div class="swiper-wrapper">
                        <div class="hero__slide swiper-slide">
                            <div class="hero__slide-text">
                                <h1>Coleção</h1>
                                <span>2023</span>
                                <p>Arome-se com as nossas fragrâncias</p>
                            </div>
                            <div class="hero__slide-img">
                                <img src="/img/herosfundo2.png" alt="">
                            </div>
                        </div>

                        <div class="hero__slide swiper-slide">
                            <div class="hero__slide-text">
                                <h1>40%</h1>
                                <span>OFF</span>
                                <p>Em toda linha de Aromatizadores</p>
                            </div>
                            <div class="hero__slide-img">
                                <img src="/img/herosfundo3.png" alt="">
                            </div>
                        </div>

                        <div class="hero__slide swiper-slide">
                            <div class="hero__slide-text">
                                <h1>Coleção</h1>
                                <span>Pastel</span>
                                <p>Aroma e estilo</p>
                            </div>
                            <div class="hero__slide-img">
                                <img src="/img/hero-removebg-preview.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class=""><button>Compre agora</button></div>
                </div>
            </section>
            <!--FIM HERO-->

            <!--            COMEÇO OFFERS         -->

            <section class="offer-section-container">
                <h1 class="title-container">Encontre o seu produto favorito</h1>
                <div class="offer-content" id="offer">
                    <div class="offer-all">
                        <% for (let i = 0; i < 3 && i < produtos.length; i++) { %>
                            <a href="/produtos/<%= produtos[i].id_produto %>" onclick="storeDivContent('div1')"> 
                                <div id="div1" class="offer-item">
                                    <div class="offer-img">
                                        <img src="<%= produtos[i].imagem %>" alt="" srcset="">
                                    </div>
                                    <div class="offer-desc">
                                        <p><%= produtos[i].nome_produto %></p>
                                    </div>
                                    <div class="offer-price">
                                        <span><%= produtos[i].preco %></span>
                                    </div>
                                    <a href="/produtos/<%= produtos[i].id_produto %>" class="btn" onclick="addToCart(this)">Adicione ao Carrinho</a>
                                </div>
                            </a>
                        <% } %>
                    </div>
                </div>
            </section>
            

            <script>

                //Função para mandar o produto para a página do produto
                function storeDivContent(divId) {
                // obtém o conteúdo da div usando seu ID
                var divContent = document.getElementById(divId);

                // obtém as informações relevantes da div clicada
                var name = divContent.querySelector('.offer-desc p').textContent;
                var price = divContent.querySelector('.offer-price span').textContent;
                var image = divContent.querySelector('.offer-img img').src;

                // Cria um objeto para armazenar as informações relevantes da div clicada
                var productInfo = {
                    name: name,
                    price: price,
                    image: image,
                    divContent: divContent.innerHTML
                };
                  
                  // Armazena o conteúdo da div no armazenamento local para uso posterior na página de destino
                  localStorage.setItem('productInfo', JSON.stringify(productInfo));
                }

                //função para adicionar produto ao carrinho:
                function addToCart(button) {
                    // obtém a div do produto
                const divProduto = button.closest('.offer-item');

                // obtém o nome do produto
                const nomeProduto = divProduto.querySelector('.offer-desc p').textContent;

                // obtém o preço do produto
                const precoProduto = parseFloat(divProduto.querySelector('.offer-price span').innerText.replace('R$', ''));

                // obtém a quantidade do produto
                const quantidadeProduto = 1;
                // cria o objeto do produto
                const produto = {
                    nome: nomeProduto,
                    preco: precoProduto,
                    quantidade: quantidadeProduto
                };

                // obtém informações do carrinho do localStorage
                let carrinho = JSON.parse(localStorage.getItem("carrinho")) || [];

                // adiciona produto ao carrinho
                carrinho.push(produto);

                // armazena carrinho atualizado no localStorage
                localStorage.setItem("carrinho", JSON.stringify(carrinho));

                }

              </script>


            <!--
    Terminando o home
-->
            <%- include('partials/footer.ejs') %> 
            <script src="/js/swiper-bundle.js"></script>
            <script src="/js/script.js"></script>
            <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>


</body>

</html>