<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/js/admin-products.js" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/main-css.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4917086014.js" crossorigin="anonymous"></script>
    <title>Administração</title>
</head>

<body>

    <%- include('partials/menu-admin.ejs')%>

        <div class="container-products">

            <h2 class="title">Pedido de <%= usuario %>
            </h2>
            <input type="search" class="busca" placeholder="Buscar produto" oninput="search()">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id_pedido</th>
                        <th>Id_cliente</th>
                        <th>Data do pedido</th>
                        <th>Total</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <li>
                            <td id="id-pedido">
                                <%= order?.id_pedido %>
                            </td>
                        </li>
                        <li id="contact-person">
                            <td>
                                <%= order?.contactPerson %>
                            </td>
                        </li>
                        <li id="data">
                            <td>
                                <%= order?.dataOrder %>
                            </td>
                        </li>
                        <li id="amount">
                            <td>
                                <%= order?.amount %>
                            </td>
                        </li>
                        <li id="status">
                            <td>
                                <%= order?.status %>
                            </td>
                        </li>
                    </tr>

                    <tr>
                        <th>Quantidade</th>
                        <th>Lista de itens</th>
                        <th></th>
                        <th>Preço</th>
                    </tr>
                        <tr>

                            <% for (const item of items) { %>
                                <tr>
                                    <td>
                                        
                                    </td>
                                <td>
                                    <%= item?.name %>
                                </td>
                                <td>
                                    <img src="<%= item?.image %>">
                                </td>
                                <td id="price">
                                    <%= item?.price %>
                                </td>
                            </tr>
                        </tr>
                        
                                
                                <% } %>
                        
                </tbody>
            </table>

        </div>
        <%- include('partials/script-admin.ejs')%>
</body>

</html>