<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Style principal -->
    <link rel="stylesheet" href="/css/produto.css">
    <!-- Style header -->
    <link rel="stylesheet" href="/css/header.css">
    <!--  Ãcone -->
    <link rel="shortcut-icon" href="/img/Design sem nome.png" type="image/x-icon">
    <!--  Link BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--Link swiperjs-->
    <link rel="stylesheet" href="/css/swiper-bundle.css" type="text/css">
    <!--Link footer-->
    <link rel="stylesheet" href="/css/footer.css">

    <title>Arome</title>
</head>

  <body>
    <%- include("partials/header.ejs") %>

  <main>
    <div>
      <h2 id="product-name"><%= produto.nome_produto %></h2>
      <img id="product-image" src="<%= produto.imagem %>" alt="<%= produto.nome_produto %>" width="200" height="200">
      <p id="product-price"><%= produto.preco %></p>
      <form method="post" action="/carrinho">
        <input type="hidden" value="<%= produto.id_produto %>" name="idProduto">
        <button type="submit" class="btn-comprar" id="comprar"
        <%= produto.id_produto %>>Carrinho</button>
      </form>
    </div>
  </main>
  <%- include("partials/footer.ejs") %>
</body>

</html>
